<div class = 'header'>
       <h1 class = 'title_name'>KAN KOJIMA</h1>
       <h2 class = 'title_dis'>WEBデザイナーを目指す<br>
       小島寛のポートフォリオサイトです。</h2>
</div>

<div class ='untill'>
    <h1 class = 'title'>Up untill now career/これまでのキャリア</h1>
    <div class = 'bird_eye'>
        <div class= 'bird_eye_1'>
            <div class= 'bird_eye_text'>
                <h2 class='bird_eye_title career_title' >Bird's eye biew/鳥瞰図</h2>
                <p class = 'bird_eye_disc career_disc'>わからなかったらまずは自分で調べる癖が
                付いています。<br>
                知らない事を面白がって知る事が
                できます。ただし判断がつかない場面や判断を仰ぐべき
                場面では、逐一確認を行い勝手に進める事が
                無いようにしていました。
                </p>
            </div>
        </div>
            <div class= 'bird_eye_photo'>
            
            </div>
    </div>
    <div class = 'tough'>
        <div class= 'tough_1'>
            <div class= 'tough_text'>
                <h2 class='tough_title career_title' >Tough situation/困難な状況</h2>
                <p class = 'tough_disc career_disc'>店長が逃げた店に店長として赴任。前任者がいなくなり
                担当の業務が全て止まった状況の中で担当になったりと
                困難が想定される状況で職務に従事することが多々ありました。
                確かに難しい状況ではありましたが、職務を行う上でのスキルを
                早く習得でき社内、社外の人々と良好な関係をいち早く築けました。</p>
            </div>
        </div>
            <div class= 'tough_photo'>
            
            </div>
    </div>
    <div class = 'make'>
         <div class= 'make_1'>
            <div class= 'make_text'>
                <h2 class='make_title career_title' >Make it to/なんとかできそう</h2>
                <p class = 'make_disc career_disc'>わからなかったらまずは自分で調べる癖が
                付いています。<br>
                知らない事を面白がって知る事ができます。<br>
                ただし判断がつかない場面や判断を仰ぐべき場面では、<br>
                逐一確認を行い勝手に進める事が無いようにしていました。</p>
            </div>
        </div>
            <div class= 'make_photo'>
            
            </div>
    </div>
     <div class = 'confident'>
       <div class= 'confident_1'>
            <div class= 'confident_text'>
                <h2 class='confident_title career_title' >Confidently/自信たっぷり</h2>
                <p class = 'confident_disc career_disc'>困難な状況を何回も乗り越えて来た事から、巡って来たチャンスや待ち受ける困難に対して乗り越えられる自信があります。<br>
                そして巡って来たチャンスはいつも自分が考えているレベルよりも高いものが巡ってきます。</p>
            </div>
        </div>
            <div class= 'confident_photo'>
            
            </div>
    </div>
    
    
</div>

<div class ='future'>
    <h1 class = 'title'>From now on career/これからのキャリア</h1>
    <div class = 'interested'>
        <div class= 'interested_1'>
            <div class= 'interested_text'>
                <h2 class='interested_title career_title' >Be interested/興味があるもの</h2>
                <p class = 'interested_disc career_disc'>デザインの仕事がしたく、デザイナーを募集していた会社に応募し入社いたしました。<br>
                実際の職務は営業職でしたが、デザイナーさんと近い位置
                で仕事をしデザインのイロハを学ぶ事ができました。</p>
            </div>
        </div>
            <div class= 'interested_photo'>
            
            </div>
    </div>
    <div class = 'why'>
        <div class= 'why_1'>
            <div class= 'why_text'>
                <h2 class='why_title career_title' >Why web design?/どうしてウェブデザイン？</h2>
                <p class = 'why_disc career_disc'>きっかけは昨年の冬頃から始めたプログラミングでした。<br>
               制作したホームページをバラしたり組み立てたりとを繰り返し、<br>
               幾重の試行錯誤と「できた！」を積み重ねました。<br>
               そしてこの世界で勝負がしてみたい！と決意しました。
               自分の手で世の中に何かを作り出す事は楽しく自分もイキイキする。
               自分が手をかけた作品で世の中を明るく出来たらと思います。</p>
            </div>
        </div>
            <div class= 'why_photo'>
            
            </div>
    </div>
    <div class = 'what'>
        <div class= 'what_1'>
            <div class= 'what_text'>
                <h2 class='what_title career_title' >What do I want to be/これからどうなりたいか？</h2>
                <p class = 'what_disc career_disc'>将来は東京と福岡の２拠点で活動する独立したデザイナーになり、
               互いの拠点で得たものを仕事にぶつけれる様になるのが目標です。
               デザイナーになる為に、まずはWEB制作会社に入社しWEBデザインの
               職務に従事し開発現場での作法や、多くのデザインの引き出しを作れる
               様になりたいです。</p>
            </div>
        </div>
            <div class= 'what_photo'>
            
            </div>
    </div>
    <div class = 'what_to'>
    <div class= 'what_to_1'>
            <div class= 'what_to_text'>
                <h2 class='what_to_title career_title' >What to do now?/これから何をすべきか？</h2>
                <p class = 'what_to_disc career_disc'>多くのwebサイトを見る事。<br>
              審美眼を養い自分の中でデザインの軸を形成する事。<br>
             毎日コードを書きまくる事。<br>
             そして、転職活動を諦めない事。</p>
            </div>
        </div>
            <div class= 'what_to_photo'>
            
            </div>
    </div>
    
</div>

<div class ='port_forio'>
    <h1 class = 'title'>Port forio</h1>
    <div class= 'port_forio_area'>
            <div class = 'port_forio_1'>
                <a href = 'https://twitter.com/?lang=ja' class = 'kojima_9_site'><%= image_tag'kojima_9.png', :class => "kojima_9_icon"%></a>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojimacolor_15.png', :class => "kojima_10_icon"%></a>
            </div>
            <div class = 'port_forio_2'>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_10.png', :class => "kojima_9_icon"%></a>

            </div>
            <div class = 'port_forio_3'>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_11.png', :class => "kojima_9_icon"%></a>

            </div>
            <div class = 'port_forio_4'>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_12.png', :class => "kojima_9_icon"%></a>

            </div>
            <div class = 'port_forio_5'>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_13.png', :class => "kojima_9_icon"%></a>
            </div>
            <div class = 'port_forio_6'>
                <a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>
            </div>
            <div class = 'port_forio_7'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
            <div class = 'port_forio_8'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
             <div class = 'port_forio_9'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
            <div class = 'port_forio_10'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
             <div class = 'port_forio_11'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
            <div class = 'port_forio_12'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
            <div class = 'port_forio_13'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
             <div class = 'port_forio_14'>
                <!--<a href = 'https://twitter.com/?lang=ja'><%= image_tag'kojima_14.png', :class => "kojima_9_icon"%></a>-->
            </div>
        </div>
        
</div>

<div class = 'design'>
    <h1 class = 'title_design'>Design is ...</h1>
    <div class = 'is_1'>
        <h2 class = 'is_title'>Not art</h2>
    </div>
    <div class = 'is_2'>
        <h2 class = 'is_title'>Solution</h2>
    </div>
    <div class = 'is_3'>
        <h2 class = 'is_title_rooted'>It is rooted everyday life</h2>
    </div>
        
</div>
<div class = 'footer'>
    <h1 class = 'footer_title'>And more info</h1>
    <h2 class= 'link'>作品の詳細やお仕事の依頼につきましては、お気軽に下記まで連絡ください。改めて返信いたします。</h2>
    <a class='url' href= 'mailto:ggmufc518@gmail.com'><h2 class = 'link'>ggmufc518@gmail.com</h2></a>
    <a class='url' href= 'https://twitter.com/kankanbang?lang=ja'><h2 class = 'link'>https://twitter.com/kankanbang?lang=ja</h2></a>
    <h2 class= 'end'>© KAN KOJIMA</h2>
</div>


