<div class ='is_not'>
    <h1 class = 'title'>Kan Kojimaのサイト</h1>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>架空のフリーランスデザイナーKanKojimaの自己紹介サイトです。<br>
            書籍でHTML/CSSの知識を習得し、マークアップを行いました。<br>
            スキルのページではJavaScriptのライブラリを使用し
            グラフを作成いたしました。</p>
             
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_75.png', :class => "for_more_picture pink"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_76.png', :class => "for_more_picture profile"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_96.png', :class => "for_more_picture graph"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_77.png', :class => "for_more_picture works"%>
           </div>
           <!--<div class= 'picture'>-->
           <!--<%= image_tag'gray_78.png', :class => "for_more_picture contact"%>-->
           <!--</div>-->
        </div>
</div>