<div class ='is_not'>
    <h1 class = 'title'>Design is ...</h1>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Solution</h2>
              <pclass = 'for_more_text'>問題解決の手段です。<br>
              例えばJR九州は国鉄から引き継いだ経営資源を元手に経営を行いました。<br>
              ライバルから都市間輸送のシェアを奪うべく、<br>
              新型車両の導入や、大胆なイメージチェンジを既存の車両に行い、シェアを奪い返しました。</p>
          </div>
          <div class= 'picture'>
            <%= image_tag'midori_26.png', :class => "midori"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'dencha_27.png', :class => "dencha"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'tsubame_28.png', :class => "tsubame"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'sonic_29.png', :class => "sonic"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'shin_30.png', :class => "shinkansen"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'umi_31.png', :class => "umisati"%>
           </div>
        </div>
</div>